<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Quotes</title>
</head>
<body>
        <p>Posts by {{request.session.name}}</p>
        
           {% for users in favorite %}
                {% if quotes.user.id == request.session.id %}
                   <p>{{favorite.quote_name}}</p>
                      <p>{{favorite.quote_by}}</p>
                {% endif %}
             {% endfor %}

</body>
</html> 